.quiz-results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.quiz-results-table th, .quiz-results-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.quiz-results-table th {
    background:rgb(218, 72, 72);
}
.correct { color: green; }
.wrong { color: red; }

/* Png Image for dashboard icon */
.sidebar img {
width: 24px; /* Adjust size as needed */
height: 24px;
margin-right: 10px; /* Spacing between icon and text */
vertical-align: middle;
}